<table class="table table-hover">
    <thead>
    <tr>
        <td>Nome</td>
        <td>Cpf</td>
        <td>E-mail</td>
        <td>Data de Nascimento</td>
        <td>Telefone</td>
        <td>Endereço</td>
        <td colspan="2"><a [routerLink]="['/pessoa-fisica/create']" class="btn btn-primary">Adicionar</a></td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let pessoa of pessoas.content">
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.cpf }}</td>
            <td>{{ pessoa.email }}</td>
            <td>{{ pessoa.dataNascimento }}</td>
            <td><a [routerLink]="['/telefone', pessoa.id]" class="btn btn-info">Telefones</a></td>
            <td><a [routerLink]="['/logradouro', pessoa.id]" class="btn btn-info">Endereços</a></td>
            <td><a [routerLink]="['/pessoa-fisica/edit', pessoa.id]" class="btn btn-primary">Edit</a></td>
            <td><a [routerLink]="" (click) = "deletePessoa(pessoa.id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>