<table class="table table-hover">
    <thead>
    <tr>
        <td>Id Pessoa</td>
        <td>Endereço</td>
        <td>CEP</td>
        <td>Bairro</td>
        <td>Cidade</td>
        <td>Uf</td>
        <td colspan="2"><a [routerLink]="['/logradouro/create', pessoaId]" class="btn btn-primary">Adicionar</a></td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let logradouro of logradouros">
            <td>{{ logradouro.pessoaId }}</td>
            <td>{{ logradouro.logradouro }}</td>
            <td>{{ logradouro.cep }}</td>
            <td>{{ logradouro.bairro }}</td>
            <td>{{ logradouro.cidade }}</td>
            <td>{{ logradouro.uf }}</td>
            <td><a [routerLink]="['/logradouro/edit', logradouro.pessoaId, logradouro.id]" class="btn btn-primary">Edit</a></td>
            <td><a [routerLink]="" (click) = "deleteLogradouro(logradouro.id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>