<div class="card">
    <div class="card-body">
        <form [formGroup]="angForm" novalidate>
            <div class="form-group">
                <label class="col-md-4">Nome</label>
                <input type="text" class="form-control" formControlName="Nome" 
                    #Nome />
            </div>
            <div *ngIf="angForm.controls['Nome'].invalid && (angForm.controls['Nome'].dirty || angForm.controls['Nome'].touched)" 
                class="alert alert-danger">
                <div *ngIf="angForm.controls['Nome'].errors.required">
                  Nome é obrigatório.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Cpf</label>
                <input type="number" class="form-control" formControlName="Cpf" 
                    #Cpf data-mask="000.000.000-00" data-mask-selectonfocus="true"/>
            </div>
            <div *ngIf="angForm.controls['Cpf'].invalid && (angForm.controls['Cpf'].dirty || angForm.controls['Cpf'].touched)" 
                class="alert alert-danger">
                <div *ngIf="angForm.controls['Cpf'].errors.required">
                  O Cpf é obrigatório.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">E-mail</label>
                <input type="email" class="form-control"  formControlName="Email" 
                    #Email />
            </div>
            <div *ngIf="angForm.controls['Email'].invalid && (angForm.controls['Email'].dirty || angForm.controls['Email'].touched)" 
                class="alert alert-danger">
                <div *ngIf="angForm.controls['Email'].errors.required">
                  O E-mail é obrigatório.
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4">Data de Nascimento</label>
                <input type="date" class="form-control"  formControlName="DataNascimento" 
                    #DataNascimento />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" [disabled]="angForm.pristine || angForm.invalid" 
                (click) = "addPessoaFisica(Nome.value, Cpf.value, Email.value, DataNascimento.value)">Salvar</button>
            </div>
        </form>
    </div>
  </div>