<table class="table table-hover">
    <thead>
    <tr>
        <td>Pessoa Id</td>
        <td>DDD</td>
        <td>Telefone</td>
        <td colspan="2"><a [routerLink]="['/telefone/create', pessoaId]" class="btn btn-primary">Adicionar</a></td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let telefone of telefones">
            <td>{{ telefone.pessoaId }}</td>
            <td>{{ telefone.ddd }}</td>
            <td>{{ telefone.numero }}</td>
            <td><a [routerLink]="['/telefone/edit', telefone.pessoaId, telefone.id]" class="btn btn-primary">Edit</a></td>
            <td><a [routerLink]="" (click) = "deleteTelefone(telefone.id)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>