<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Endereco</label>
          <input type="text" class="form-control" 
            formControlName="Logradouro" 
            #Logradouro 
            [(ngModel)] = "logradouro.Logradouro"/>
        </div>
        <div *ngIf="angForm.controls['Logradouro'].invalid && (angForm.controls['Logradouro'].dirty || angForm.controls['Logradouro'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['Logradouro'].errors.required">
            Endereço é obrigatório.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Cep</label>
          <input type="text" class="form-control"
          formControlName="Cep" 
          #Cep [(ngModel)] = "logradouro.Cep"/>
        </div>
        <div class="form-group">
          <label class="col-md-4">Bairro</label>
          <input type="text" class="form-control" 
            formControlName="Bairro" 
            #Bairro
            [(ngModel)] = "logradouro.Bairro"
          />
        </div>
        <div class="form-group">
            <label class="col-md-4">Cidade</label>
            <input type="text" class="form-control" 
              formControlName="Cidade" 
              #Cidade
              [(ngModel)] = "logradouro.Cidade"
            />
        </div>
        <div class="form-group">
            <label class="col-md-4">Uf</label>
            <input type="text" class="form-control" 
              formControlName="Uf" 
              #Uf
              [(ngModel)] = "logradouro.Uf"
            />
        </div>
        <div class="form-group">
          <button (click) = "updateLogradouro(Logradouro.value, Cep.value, Bairro.value, Cidade.value, Uf.value)" type="submit" class="btn btn-primary"
          [disabled]="angForm.invalid" >
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>